*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(#2b1055, #7597de);
    min-height: 100vh;
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
}

header ul li a:hover,
header ul li a.active{
    background-color: white;
    color: #2b1055;
    border-radius: 10px;
}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

section img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#text{
    position: absolute;
    color: white;
    white-space: nowrap;
    font-size: 3.5vw;
    z-index: 9;
    
}
section img#buildings{
    z-index: 10;
}

#btn{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    display: inline-block;
    background: white;
    color: #2b1055;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec{
    position: relative;
    padding: 100px;
    background: #333232;
}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #F99417;
    padding-bottom: 20px;
}

.sec p{
    font-size: 1.2em;
    color: #E8E2E2;
    text-align: justify;
}
#skylogo{
    filter: brightness(50%);
}
#collegepic{
    float: right;
    margin: 5px;
    width: auto;
    height: 500px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
}

.courses-section{
    height: 100vh;
    width: 100vw;
    background-color: #555252;
}

.courses-section h2{
    color: #F99417;
    text-align: left;
    font-size: 3.5em;

    padding: 100px;
}

table{
    width: 70%;
    margin-left: 50px;
    margin-right: 100px;
    padding-right:500px;
}
table, th, tr,td{
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
    
    
}

th, td{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;

}

th{
    font-size: x-large;
}

td{
    text-align: center;
}


